/*first the width of the collection-item was 22% that means 22 percent of the parent class*/
/*changing it to 22vw means 22 percent of the total width of the page so if we resize the page the width would still be 22 percent of the overall width of the page */

.collection-item {
    width: 22vw;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    position: relative;
  
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
    }
  
    .custom-button{
      width: 80%;
      position: absolute;
      opacity: 0.7;
      bottom: 40px;
      display: none;
    }

    &:hover{

      .image{
        opacity: 0.8;
      }

      .custom-button{
       opacity: 0.8;
       display: flex;
      }
    }

    .collection-footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
  
      .name {
        width: 90%;
        margin-bottom: 15px;
      }
  
      .price {
        width: 10%;
      }
    }
  }
  